{{#> base }}
  {{> nav }}
  {{#if isLogined}}<h2> Welcome! </h2>{{/if}}
  <form action="/api/v1/login" method="post">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="login">
  </form>
{{/base}}
