.dev-navigation {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.7rem;
  line-height: 1;
}

.dev-navigation__link {
  text-decoration: none;
  font-size: inherit;
  line-height: inherit;
}

.dev-navigation__link--link {
}

.dev-navigation__link--api {
  color: gray;
}
